.instagram {
    margin-top: 80px;
}
.instagram__title {
    text-align: center;
}
.instagram__inner{
    overflow: hidden;
}
.instagram__items {
   display: flex;
   width: max-content;
   gap: 20px;
   
   animation: scroll 45s linear infinite;
}

@keyframes scroll{
     to{
         transform: translateX(calc(-50% - 0.5rem));
     }
}

.instagram__item {}
.instagram__item img{
   max-width: 180px;
   max-height: 150px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}